.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.inter-App {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--body_background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--link_color);
}

.App-link {
  color:var(--body_background);
}
:root{
  --body:white;
  --body_color:black;
   
}

[data-theme="dark"]{
   --body_background:#282c34;
   --body_color:white;
   --link_color:cyan;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header{
  z-index:10001 !important;
}
.btn-primary{
   @apply bg-[#C80036] md:h-auto mr-20 text-white px-4 mt-4 py-2 inline-block h-10 text-justify  font-medium shadow-sm rounded transition-all duration-300 ease-in-out hover:-translate-y-2 
}
